/* *, *:after, *:before {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/** hide the checkbox in darkmode*/
.toggleInputDark[type="checkbox"] {
    visibility: hidden;
}
/** set the background safeorange in dark mode and bordecolor white */
.toggleInputDark[type="checkbox"]:checked + label {
    transform: rotate(360deg);
    background-color: #FF6201;
    border-color: #fff;
}

/** set white circle in darkmode */
.toggleInputDark[type="checkbox"]:checked + label:before {
    transform: translateX(90px);
    background-color: #fff;
}

/** hide the checkbox in light mode */
.toggleInput[type="checkbox"] {
    visibility: hidden;
}
/** set the background white in light mode and bordecolor safeorange*/
.toggleInput[type="checkbox"]:checked + label {
    transform: rotate(360deg);
 background-color: #fff;
    border-color: #FF6201;
}

/** set orange circle in lightmode */
.toggleInput[type="checkbox"]:checked + label:before {
    transform: translateX(90px);
    /* background-color: #fff; */
}

.toggleLabelDark {
    display: flex;
    width: 3rem;
    height: 1.5rem;
    border: 0.1rem solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    
}
.toggleLabelDark:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #FF6201;
    border-radius: 50%;
    top: 12px;
    left: 12px;
    
}

/** change border color to safeorange in lightmode*/
.toggleLabel {
    display: flex;
    width: 3rem;
    height: 1.5rem;
    border: 0.1rem solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
    border-color: #FF6201;
}
.toggleLabel:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #FF6201;
    border-radius: 50%;
    top: 12px;
    left: 12px;
}


