.card{
    margin: 20px 0px 20px 0px;
    font-size: xx-small;
    text-size-adjust: 5px;
    background-color: orange;
    border-radius: 10px;
    width: 370px;
    height: 200px;
    border-style: solid;
    border-color: white;
}
.tagsButtonContainer{
    display: flex;
    justify-content: space-around;

}

.descriptors{
    background-color: navy;
    padding: 5px;
    margin-top: 5px;
    border-radius: 9px;
}

.gameTitle{
margin: 20px 0px 0px 20px;
font-size: small;
}

.gameInformation{
 margin: 7px 20px 0px 20px;
}

.readMoreButton{
    text-align: center;
    margin: 25px 0px 0px 0px;
}