.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdownLabel{
    display: flex;
    color: #00272B;
    
    
}

.dropdownLabelDark{
    display: flex;
    color: white;
    
    
}
.dropdownSelect{
    display: flex;
   color: #00272B;
   justify-content: center;
   border-radius: 20px;
}