@tailwind base;
@tailwind components;
@tailwind utilities;



/* .btn-secondary {
@apply text-black rounded-4;
} */
html{
  background-image: url("https://i.imgur.com/rTC1Ghz.png");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 800px) {
  body {
      /* Change the layout or styling of the elements within the DIV */
      flex-wrap: wrap;
      text-align: left;
      margin: 5%;
      
  }
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.text-quicksand {
  font-family: 'Quicksand', sans-serif !important;
}

@layer components {
  .btn-secondary {
   @apply text-black rounded;
  }
}

.root{
  /* font-family: 'Raleway', sans-serif; */
}

.label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: pink;
  font-weight: bold;
  transition: background ease 0.3s;
}


